@font-face {
    font-family: 'Meedori Sans';
    src: url('./fonts/subset-MeedoriSansRegular.eot');
    src: url('./fonts/subset-MeedoriSansRegular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/subset-MeedoriSansRegular.woff2') format('woff2'),
        url('./fonts/subset-MeedoriSansRegular.woff') format('woff'),
        url('./fonts/subset-MeedoriSansRegular.ttf') format('truetype'),
        url('./fonts/subset-MeedoriSansRegular.svg#MeedoriSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 4px 0px;
}
.nav-btn{
    width: 100%;
    padding: 8px 24px;
    border: none;
    background-color:white;
    font-family: 'Meedori Sans';
    font-size: 16pt;
}
.nav-link{
    flex-grow: 1;
}
#feed_img{
    max-width: 60px;
}
#requests_img{
    max-width: 120px;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
  
  img{
    max-width: 400px;
  }
  .dropdown{
    display: inline-block;
    position: relative;
    width: 100%;
  
  }
  
  .dropdown-content{
    width: 100%;
    z-index: 1;
    overflow: hidden;  
    height: 0px;
    transition: all 0.3s ease-in;
    border-bottom: 1px solid black;
  }
  
  .dropdown:hover .dropdown-content{
    height:52px;
  }

  .dropdown-top:hover{
    border-bottom: 1px solid black;
  }